# Reverse Linux VNC for GitHub Actions
# This YAML establishes the "build" workflow where we will execute all required scripts
# During the process, it should get stuck at the last step where it creates a new tunnel on ngrok.

name: Ubuntu
on: [push, workflow_dispatch]
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Preparing environment...
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        VNC_PASSWORD: ${{ secrets.VNC_PASSWORD }}
      # legacy run command script-- run: ./scripts/configure-legacy.sh
      run: ./scripts/configure.sh

    - name: Install Dependencies
      run: sudo apt update && sudo apt install curl unzip qemu-system-x86 -y

    - uses: hashicorp/setup-packer@main
      with:
        version: "1.14.2"

    - name: Install UEFI
      if: matrix.architecture == 'x86-64'
      run: |
        sudo apt install ovmf
        cp /usr/share/ovmf/OVMF.fd resources/ovmf.fd"

    - name: Enable KVM
      run: |
        sudo apt install qemu-kvm
        sudo adduser runner kvm
        sudo chown runner /dev/kvm

    - name: Clone
      run: |
        git clone https://github.com/cross-platform-actions/omnios-builder.git
        cd omnios-builder

    - name: Starting VNC Server...
      env:
        VNC_SCREENSIZE: ${{ secrets.VNC_SCREENSIZE }}
        VNC_DEPTHVALUE: ${{ secrets.VNC_DEPTHVALUE }}
      # legacy run command-- run: cd $HOME && vncserver :1 -geometry $VNC_SCREENSIZE -depth $VNC_DEPTHVALUE -rfbport 7582
      run: export PATH=$PATH:/opt/TurboVNC/bin && cd $HOME && vncserver :1 -geometry $VNC_SCREENSIZE -depth $VNC_DEPTHVALUE -rfbport 7582
    - name: Creating tunnel with ngrok...
      run: ngrok tcp 7582
